// Colors
$text-color: #1a1a1a
$theme-color: #eb4600

$white: #ffffff
$black: #000000

// Fonts
$default-font: Roboto, sans-serif
$f-size: 16px
$l-height: 1.5

// Custom-grid
$container-size: 1190px
$container-padding: 10px
$gutter: 30px  

// Bootstrap Custom-grid
// $grid-gutter-width: 30px !default
// $grid-columns: 24